<%- include partials/header.ejs %>



<h1 class="text-center">Service</h1>
<p></p><br /><br />  


<!-- 3 panel hold title and details -->
<nav>  
<div class="panel panel-primary">
  <div class="panel-heading"><%= service1 %></div>
  <div class="panel-body">
    <p>Use HTML, PHP, JavaScript to build web pages</p>
</div>
</nav>

<nav>   
<div class="panel panel-success">
  <div class="panel-heading"><%= service2 %></div>
  <div class="panel-body">
    <p>Use Visual Studio to design interface and functions</p>
</div>
</nav>
    
<nav>    
<div class="panel panel-warning">
  <div class="panel-heading"><%= service3 %></div>
  <div class="panel-body">
    <p>Build SQL database, build connect between web pages and databases</p>
  </div>    
</nav>
    
    
    
<%- include partials/footer.ejs %>
